<h1>Lists</h1>

{{#each allList}}
<a class="list-item" href="/list/{{_id}}">
<h3 class= 'title'>{{title}}</h3>

<h4>{{produce}}</h4>

<h4>{{animalProtein}}</h4>

<h4>{{dairy}}</h4>
</a>
{{/each}}

<a href= "/list/new">
    <button>
        New List
    </button>
</a>
