<h1>Edit List</h1>

<form action="/list/{{oneList._id}}?_method=PUT" method="POST">
    {{!-- <label>Title</label>
    <input type="text" name="title" value="{{oneList.title}}" /> --}}

    <label for="produce">Produce</label>
    <textarea type="text" name= "produce">{{oneList.produce}}</textarea>

    <label for="animalProtein">Protein</label>
    <textarea type="text" name= "animalProtein">{{oneList.animalProtein}}</textarea>

    <label for="dairy">Dairy</label>
    <textarea type="text" name= "dairy">{{oneList.dairy}}</textarea>

    <label>Misc</label>
    <textarea type="text" name="misc">{{oneList.misc}}</textarea> 


    <input type="submit" value="Save" />
</form>