<h1>Edit List</h1>

<form action="/list/{{oneList._id}}?_method=PUT" method="POST">
    <label>Title</label>
    <input type="text" name="title" value="{{oneList.title}}" />

    <label>Produce</label>
    <input type= "text" name="produce" value= "{{oneList.produce}}" />

    <label>Animal Protein</label>
    <input type= "text" name= "animalProtein" value= "{{oneList.animalProtein}}"/>

    <label>Dairy</label>
    <input type= "text" name= "dairy" value= "{{oneList.dairy}}"/>

    <input type="submit" value="Save" />
</form>