<h1>Edit List</h1>

<a class= "edit-link" href="/list/{{oneList._id}}/edit">
    <button>
        Edit
    </button>
</a>

<div class= "single-list">
    <div class= "single-list">{{oneList.produce}}</div>
<br>
    <div class= "single-list">{{oneList.dairy}}</div>
<br>
    <div class= "single-list">{{oneList.misc}}</div>
</div>
<br>
<form action="/list/{{oneList._id}}?_method=DELETE" method="POST">
    <input class= "edit-link" type="submit" value="Delete">
</form>
<br>
<a class= "edit-link" href="/recipe">
    <button>
        Recipe page
    </button>
</a>