<h1 class= "header">RECIPES</h1>



{{#each allRecipe}}
<a href="/recipe/{{_id}}">
  
    <h4 class= "item">{{name}}</h4>

    {{!-- <h4>{{time}}</h4>

    <h4>{{ingredients}}</h4>

    <h4>{{prep}}</h4>

    <h4>{{servings}}</h4> --}}
</a>

{{/each}}

<a href="recipe/new">
    <button class= "clicker">
        Add Recipe
    </button>
</a>