<h1>Edit Recipe</h1>

<form action="/recipe/{{oneRecipe._id}}?_method=PUT" method="POST">
    <label>Name</label>
    <input type='text' name="name" value="{{oneRecipe.name}}" />

    <label>Time</label>
    <input type='text' name="time" value="{{oneRecipe.time}}" />

    <label>Ingredients</label>
    <input type='text' name="ingredients" value="{{oneRecipe.ingredients}}" />


    <label for= "prep">Prep</label>
    <textarea id="prep" name= "prep" 
                rows= "10" cols= "40"> 

    </textarea>


    {{!-- <input type="text" name="prep" value="{{oneRecipe.prep}}" /> --}}
    
    <label>Sevings</label>
    <input type='Number' name="servings" value="{{oneRecipe.servings}}" />

    <input type="submit" value="Save" />

</form>