<h1>Edit Recipe</h1>

<form action= "/shop/{{oneRecipe._id}}?_method=PUT" method="POST">
    <label>Name</label>
    <input type= 'text' name= "name" value="{{oneRecipe.name}}" />

    <label>Time</label>
    <input type= 'text' name= "time" value="{{oneRecipe.time}}" />

    <label>ingredients</label>
    <input type= 'text' name= "time" value="{{oneRecipe.ingredients}}" />

    
    <label>prep</label>
    <p>
        {{oneRecipe.prep}}
    </p>
    <label>Sevings</label>
    <input type= 'Number' name= "time" value="{{oneRecipe.time}}" />


    
    </form>