<h1>{{oneRecipe.name}}</h1>

<a class="edit-button" href="/recipe/{{oneRecipe._id}}/edit">
    <button>Edit Recipe</button>
</a>

<h3>Cooking Time</h3>
<div>{{oneRecipe.time}}</div>
<h3>Ingredients</h3>
<div>{{oneRecipe.ingredients}}</div>
<h3>Instrunctions</h3>
<div>{{oneRecipe.prep}}</div>
<h3>Servings</h3>
<div>{{oneRecipe.servings}}</div>

<form action="/recipe/{{oneRecipe._id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete recipe" />
</form>
<hr>

<div class="list-item">
    {{#each list}}
    <a href="/list/{{_id}}">

        <label class="label-item">Produce</label>
        <div class="single-item">{{produce}}</div>

        <label class="label-item">Protein</label>
        <div class="single-item">{{animalProtein}}</div>

        <label class="label-item">Dairy</label>
        <div class="single-item">{{dairy}}</div>
        
        <label class="label-item">Misc</label>
        <div class="single-item">{{misc}}</div>

    </a>

    <form action="/list" method="POST">
        <input type="hidden" value="{{oneRecipe._id}}" name="parentId" />

        <h3>Produce</h3>
        <textarea class="items" type="text" name="produce"></textarea>

        <h3>Protein</h3>
        <textarea class="items" type="text" name="animalProtein"></textarea>

        <h3>Dairy</h3>
        <textarea class="items" type="text" name="dairy"></textarea>

        <h3>Misc</h3>
        <textarea class="items" type="text" name="misc"></textarea>
        <br>

        <input type="submit" value="Create" />


    </form>
    {{/each}}
</div>
<hr>
<div class="type-item">
    {{#each category}}

    <a class="type-item" href="/type/{{_id}}">


        <h3 class="category">Meal Type</h3>
        <div>{{mealType}}</div>

        <h3>Cooking Type</h3>
        <div>{{cookingType}}</div>

        <h3>Diet Type</h3>
        <div>{{dietType}}</div>

    </a>
    {{/each}}
</div>

<form action="/type" method="POST">

    <input type="hidden" value="{{oneRecipe._id}}" name="recipeId" />

    <div class="category">
        {{!-- 
    <h3>Meal Type</h3>
    <input type="text" name="mealType" />

    <h3>Cooking Type</h3>
    <input type="text" name="cookingType" />

    <h3>Diet Type</h3>
    <input type="text" name="dietType" /> --}}

        <label for="mealType">Meal Type:</label>
        <input list="meals" id="mealType" name="mealType" />

        <datalist id="meals">
            <option value="Breakfast">
            <option value="Lunch">
            <option value="Dinner">
            <option value="Snack">
        </datalist>

        <label for="cookingType">Cooking Type:</label>
        <input list="cooks" id="cookingType" name="cookingType" />

        <datalist id="cooks">
            <option value="Grilled">
            <option value="Fried">
            <option value="Baked">
            <option value="Broiled">
            <option value="boiled">
            <option value="sauteed">
        </datalist>

        <label for="dietType">Meal Type:</label>
        <input list="diets" id="dietType" name="dietType" />

        <datalist id="diets">
            <option value="High Carb">
            <option value="Low Carb">
            <option value="High Fat">
            <option value="Low Fat">

        </datalist>


        <br>
        <input type="submit" value="Create" />

    </div>
</form>