<h1>{{oneRecipe.name}}</h1>

<a class="edit-button" href="/recipe/{{oneRecipe._id}}/edit">
    <button>Edit Recipe</button>
</a>

<div class="recipe-item">
    <div>Cooking Time: {{oneRecipe.time}}</div>
    <br>
    <div>Ingredients: {{oneRecipe.ingredients}}</div>
    <br>
    <div>Instrunctions: {{oneRecipe.prep}} </div>
    <br>
    <div>Servings: {{oneRecipe.servings}}</div>
    <br>
</div>
<form action="/recipe/{{oneRecipe._id}}?_method=DELETE" method="POST">
    <input type="submit" value="Delete recipe" />
</form>

<div class="list-item">
    {{#each category}}

    <a class="type-item" href="/type/{{_id}}">


        <div class="label-item">Meal Type</div>
        <div class="single-item">{{mealType}}</div>

        <div class="label-item">Cooking Type</div>
        <div class="single-item">{{cookingType}}</div>

        <div class="label-item">Diet Type</div>
        <div class="single-item">{{dietType}}</div>

    </a>
    {{/each}}


    <form action="/type" method="POST">

        <input type="hidden" value="{{oneRecipe._id}}" name="recipeId" />

        <div class="category">
            <div for="mealType">Meal Type:</div>
            <input list="meals" id="mealType" name="mealType" />

            <datalist id="meals">
                <option value="Breakfast">
                <option value="Lunch">
                <option value="Dinner">
                <option value="Snack">
            </datalist>

            <div for="cookingType">Cooking Type:</div>
            <input list="cooks" id="cookingType" name="cookingType" />

            <datalist id="cooks">
                <option value="Grilled">
                <option value="Fried">
                <option value="Baked">
                <option value="Broiled">
                <option value="boiled">
                <option value="sauteed">
            </datalist>

            <div for="dietType">Meal Type:</div>
            <input list="diets" id="dietType" name="dietType" />

            <datalist id="diets">
                <option value="High Carb">
                <option value="Low Carb">
                <option value="High Fat">
                <option value="Low Fat">

            </datalist>


            <br>
            <input type="submit" value="Create" />

        </div>
</div>
</form>

<div class="list-item">
    {{#each list}}
    <a href="/list/{{_id}}">

        <label class="label-item">Produce</label>
        <div class="single-item">{{produce}}</div>

        <label class="label-item">Protein</label>
        <div class="single-item">{{animalProtein}}</div>

        <label class="label-item">Dairy</label>
        <div class="single-item">{{dairy}}</div>
        <label class="label-item">Misc</label>
        <div class="single-item">{{misc}}</div>

    </a>
    {{/each}}

    <form action="/list" method="POST">
        <input type="hidden" value="{{oneRecipe._id}}" name="parentId" />
        <h2>Shopping List</h2>
        <div>Produce</div>
        <textarea class="items" type="text" name="produce"></textarea>

        <div>Protein</div>
        <textarea class="items" type="text" name="animalProtein"></textarea>

        <div>Dairy</div>
        <textarea class="items" type="text" name="dairy"></textarea>

        <div>Misc</div>
        <textarea class="items" type="text" name="misc"></textarea>
        <br>

        <input type="submit" value="Create" />


    </form>

</div>